<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <title>Manage Gallery</title>
</head>

<body>
    <h2 class="text-center text-dark mt-2 fonts-2">The Coding Blog</h2>
    <div class="header">
        <ul class="nav nav-tabs" id="nav-bar">
            <li class="nav-item">
                <a class="nav-link  ms-1" aria-current="page" id="dashboardTab" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " id="contactTab" href="/dashboard/contact">Contacts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="contactTab" href="/dashboard/gallery">Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="settingTab" href="/dashboard/setting">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="aboutTab" href="#">About</a>
            </li>

            <ul class="nav me-1" id="nav-dropdown">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-expanded="false"><img src="https://avatars.githubusercontent.com/u/88338651?v=4" alt=""
                            class="rounded-circle me-2" width="32" height="32">Sachin</a>
                    <ul class="dropdown-menu ">
                        <li><a class="dropdown-item" onclick="createPost()">New Post</a></li>
                        <li><a class="dropdown-item" href="setting.html">Setting</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </ul>
    </div>

    <div class="container">
        <h1 class="text-center fonts mt-1">Manage Gallery</h1>

        <div class="row">
            <!-- Gallery Post Start -->
            {% for photo in gallery %}
            <div class="col-md-4">
                <div class="thumbnail">
                    {% set imgPath = 'img/gallery/' + photo[2] %}
                    <img src="{{ url_for('static', filename= imgPath)}}"
                        style="width:100%; height: 250px;" >
                    <div class="caption">
                        <p class="text-center mt-1">{{photo[1]}}</p>
                        <div class="d-flex justify-content-center">
                            <a href="/dashboard/setting/gallery/delete/{{photo[0]}}"><button
                                    class="btn btn-sm btn-primary mb-3">Delete</button></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- Gallery Post End -->

          
           
           
            

        </div>
    </div>

    <div class="modal fade " id="createPost" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add New Post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img id="showimg" accept="image/*" class="modal-img img-fluid">
                    <form action="/dashboard/addpost" method="post" enctype="multipart/form-data">
                        <div class="mb-2">
                            <label for="choosePicCreate" class="form-label">Choose Pic</label>
                            <input class="form-control form-control" name="choosePicCreate" id="choosePicCreate"
                                onchange="loadImg(event)" type="file">
                        </div>

                        <div class="mb-2">
                            <label for="phtoCaptions" class="form-label">Title</label>
                            <input type="text" class="form-control" id="phtoCaptions" name="phtoCaptions"
                                placeholder="Title">
                        </div>

                        <div class="mb-2">
                            <label for="postTagline" class="form-label">Tag line</label>
                            <input type="text" class="form-control" id="postTagline" name="postTagline"
                                placeholder="Tag line">
                        </div>

                        <div class="mb-2">
                            <label for="postCato" class="form-label">Categories</label>
                            <input type="text" class="form-control" id="postCato" name="postCato"
                                placeholder="Categories">
                        </div>

                        <div class="mb-2">
                            <label for="postContent" class="form-label">Content</label>
                            <textarea class="form-control" id="postContent" name="postContent" placeholder="Content"
                                rows="5"></textarea>
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade " id="addPhoto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add Photo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img id="galleryShow" accept="image/*" class="modal-img img-fluid">
                    <form action="/dashboard/gallery" method="post" enctype="multipart/form-data">
                        <div class="mb-2">
                            <label for="choosePicCreate" class="form-label">Choose Pic</label>
                            <input class="form-control form-control" name="galleryPic" id="choosePicCreate"
                                onchange="galleryloadImg(event)" type="file">
                        </div>

                        <div class="mb-2">
                            <label for="phtoCaptions" class="form-label">Captions</label>
                            <input type="text" class="form-control" id="phtoCaptions" name="photoCaptions"
                                placeholder="Captions">
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
                </form>
            </div>
        </div>
    </div>


    <ul class="pagination mt-3 justify-content-center">
        <li class="page-item">
            <a class="page-link text-dark" href="{{prev}}" aria-label="Previous">
                <i class="fa-solid fa-left-long"></i> Prev
            </a>
        </li>
        <li class="page-item">
            <a class="page-link text-dark" href="{{next}}" aria-label="Next">
                Next <i class="fa-solid fa-right-long"></i>
            </a>
        </li>
    </ul>
    <div class="d-grid gap-2 d-md-flex me-5 mb-5 justify-content-end">
        <button class="btn btn-primary ms-auto mt-2" onclick="addPhoto()"><i class="fa-solid fa-plus"></i> Add
            photo</button>
    </div>
    <script src="https://kit.fontawesome.com/a58f8dca66.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    <script src="../static/js/dashboard.js"></script>
</body>

</html>